<div class="answerbox flexrow">
    <section class="flexcol answerContent">
        ><%= answ.user.username %>
        <br>
        <%- answ.content.replace(/\n/g, '<br>') %>
    </section>
    <section class="fatlayer">
    </section>
    <section class="flexcol">
        <% if (rank == "sysadmin") { %>
            <form action="/admin/answ/delete/<%= answ._id %>" method="post">
                <button>Slett</button>
            </form>
        <% } %>
    </section>
</div>