<div id="roof"></div>
<head>
    <title><%= metatitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/popup.js" defer></script>
</head>
<br>
<br>
<% if (popup) { %>
    <section class="popup center">
        <div class="popupbox popup<%= popup.type %> flexrow center">
            <p><%= popup.message %></p>
            <img id="popupDestroy" src="/imgs/xbutton.png">
        </div>
    </section>
<% } %>
<div class="center flexcol">
    <%- include('./nav') %>
    <br>