<nav>
    <% if (loggedIn) { %>
        <a href="/">Home</a>
        <a href="/profile">profile</a>
        <% if (rank == "sysadmin") { %>
            <a href="/admin/logs">logs</a>
            <a href="/admin/user/view">view</a>
            <a href="/teacher/chall/view">view</a>
        <% } %>
        <% if (rank == "teacher") { %>
            <a href="/teacher/chall/view">view</a>
        <% } %>
        <% if (rank == "student") { %>
            <a href="/student/create">create</a>
        <% } %>
        <form action="/login/log-out" method="post">
            <button>Log out</button>
        </form>
    <% } else { %>
        <a href="/login/login">Login</a>
    <% } %>
</nav>