<%- include('./partials/head') %>

<div class="box center flexcol">
    <%- include('./partials/searchbar', {place: "view"}) %>
    <% for( chall of challs ) { %>
        <%- include('./partials/challengePreview', { chall: chall, variant: "teacher/chall" }) %>
    <% } %>
</div>

<%- include('./partials/foot') %>