<%- include('./partials/head') %>

<div class="box center flexcol">
    <h1>Bytt passord</h1>
    <form class="center flexcol" action="/profile/changepasswd" method="post">
        <input type="password" name="oldpassword" id="oldpassword" placeholder="Gammelt passord...">
        <br>
        <input type="password" name="newpassword" id="newpassword" placeholder="Nytt passord...">
        <br>
        <input type="password" name="newpassword2" id="newpassword2" placeholder="Nytt passord på nytt...">
        <br>
        <button>submit</button>
    </form>
</div>

<%- include('./partials/foot') %>