<%- include('./partials/head') %>
<form action="/profile/changepasswd" method="post">
    <input type="password" name="oldpassword" id="oldpassword">
    <input type="password" name="newpassword" id="newpassword">
    <input type="password" name="newpassword2" id="newpassword2">
    <button>submit</button>
</form>