<%- include('./partials/head') %>

<div class="box center flexcol">
    <h1>LOGG INN</h1>
    <form action="/login/login" method="post">
        <label for="username">Brukernavn</label>
        <br>
        <input type="text" placeholder="Skriv inn brukernavn..." name="username" id="username">
        <br>
        <br>
        <label for="password">Passord</label>
        <br>
        <input type="password" placeholder="Skriv inn passord..." name="password" id="password">
        <br>
        <br>
        <button>Logg inn</button>
    </form>
</div>

<%- include('./partials/foot') %>