<%- include('./partials/head') %>

<div class="box center flexcol">
    <h1>Logg</h1>
    <div class="logbox boximportant">
        <% for( log of logs ) { %>
            <code>| <%= log.date %> | <%= log.line %></code>
            <br>
        <% } %>
    </div>
</div>

<%- include('./partials/foot') %>