<%- include('./partials/head') %>

<form action="/login/sign-up" method="post">
    <input type="text" name="username" id="username">
    <input type="password" name="password" id="password">
    <button>signup</button>
</form>